
<div class="card cap-top" style="width: 80%; margin: 20px auto;">
  <div class="chat-main-header">
    <div class="p-20 b-b">
           <h3 *ngIf="!destino" class="pb-2 text-left"> 
            chat General
              </h3>
             <h3 *ngIf="destino" class="pb-2 text-left"> 
                 {{ destino.nombre}}
              </h3>
              <button (click)="salir()" class="btn btn-danger">
                salir
              </button>
        </div>
    
  </div>
   <div class="contenedor">
    <div class="cont1" style="width: 80%;">
      <div class="chat-rbox">
          <ul class="chat-list p-20" id="lista">
              <!--chat Row -->
              <li *ngFor="let msj of chatPri.mensajes" [ngClass]="{'reverse':  mismoUsuario(msj.para)}">
                  <div class="chat-content">
                      <h5>{{msj.para}}</h5>
                      <div class="box"  [ngClass]="{'bg-light-info': mismoUsuario(msj.para) , 'bg-light-inverse' : !mismoUsuario(msj.para) }">
                        {{msj.mensaje}}  
                      </div>
                  </div>
                  <div class="chat-time">10:56 am</div>
              </li>
          
          </ul>
      </div>
      <div class="card-body b-t">
          <div class="row">
              <div class="col-8">
                 <input id="input" 
                 [(ngModel)]="mensaje"
                 name="mensaje"
                 autocomplete="off"
                 (keyup.enter)="enviarMensaje()" placeholder="mensaje" class="form-control b-0" type="text">
              </div>
              <div class="col-4 text-right">
                  <button
                  (click)=" enviarMensaje()"
                  type="button" class="btn btn-info btn-circle btn-lg">
                  <i class="fa fa-paper-plane-o"></i> </button>
              </div> 
          </div>
        </div>
        </div>
        <div class="cont2" style="width:50%;">
          <app-listaus></app-listaus>
        </div>
   </div>
</div>